{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Clotheshanger - Login</title>
	<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
	<link href='{% static "css/datepicker3.css" %}' rel="stylesheet">
	<link href='{% static "css/styles.css" %}' rel="stylesheet">

	<!-- ?? -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading"><em class="fa fa-xl fa-key color-blue"></em>Log in(Retailer)</div>
				
				<div class="panel-body">
					<form role="form" method = 'post'>
						{% csrf_token %}
						<fieldset>
							{% if messages %}
				            {% for message in messages %}
				                <div class="alert bg-danger" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> {{ message }} </div>
				            {% endfor %}
				        {% endif%}
							<div class="form-group">
								<input class="form-control" placeholder = "login_id" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" type="text" />
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="password" id="{{ form.password.id_for_label }}" maxlength="120" name="{{ form.password.html_name }}" type="password" />
							</div>
							<br>
							
							<button type="submit" class="btn btn-primary" >Submit</button>
							<div><em class="fa fa-key">&nbsp;</em></div>
							<a href="CH_Signup_R" class="btn btn-primary">Sign up</a>
							</fieldset>
					</form>
				</div>
				<div class="panel panel-footer">
					    
				        

						<fieldset>
							<a href="CH_UserSelection" class="btn btn-default btn-md pull-right">Return to select page</a></fieldset>
							
				</div>
				<div class="col-sm-12">
						<p class="back-link">ClothesHanger</a></p>
					</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->
	

	<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
	<script src='{% static "js/bootstrap.min.js" %}'></script>
</body>
</html>
