{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Clotheshanger - Registration Approval</title>
	<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
	<link href='{% static "css/font-awesome.min.css" %}' rel="stylesheet">
	<link href='{% static "css/datepicker3.css" %}' rel="stylesheet">
	<link href='{% static "css/styles.css" %}' rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="CH_Dashboard_M"><span>Clothes</span>Hanger</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><em class="fa fa-wrench">&nbsp;</em> {{ request.user }}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="CH_Dashboard_M"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			<li class="active"><a href="CH_RegistrationApproval_M"><em class="fa fa-check">&nbsp;</em> Registration Approval</a></li>
			<li><a href="CH_RegistrationStatus_M"><em class="fa fa-paste">&nbsp;</em> Registration Status</a></li>
			<li><a href="CH_Login_M"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="CH_RegistrationApproval_M">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Registration Approval</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Registration Approval</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-12">
						<!--<fieldset>-->
							<!--<a href="#" class="btn btn-primary btn-md pull-right">일괄 처리</a></fieldset>-->
							
				</div>
				<div class="panel-heading">

				</div>
				
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading profile-usertitle-status">
					대기 중인 판매자 목록
					</div>
					<!--상품-->
					{% for iter in data %}
					<div class="panel-body">
							
						<div class="col-md-2">
							<!--if문 사용 하는 부분-->
							<!--<img width="90" src = "{{ iter.1 }}" alt="image"/>-->
						</div>
						<div class="col-md-8">
						<a href="CH_RegistrationApproval?name={{ iter }}"><h5>{{ iter }}</h5></a>
						<div class="panel-body"></div>
						<!--<p>분류결과 : <span class="color-teal">{{ iter.2 }}</span></p>-->
						</div>
						<!--<div class="col-md-2 pull-right">-->
						<!--	<div class="form-group"></div>-->
						<!--	<button type="button" class="btn btn-lg btn-success">승인</button>-->
							
						<!--	<button type="button" class="btn btn-lg btn-warning">반려</button>-->
						<!--</div>							-->
					</div>
					{% endfor %}	
					
					<!--상품 하나 끝-->
					<!--상품-->
					<!--<div class="panel-body">-->
							
					<!--			<div class="col-md-2">-->
									<!--if문 사용 하는 부분-->
					<!--				<img width="90"src="C:\Users\pc\Desktop\소프트웨어 공학개론\KakaoTalk_20190528_185516268.jpg" alt="bag"/>-->
					<!--			</div>-->
					<!--			<div class="col-md-8">-->
					<!--			<a href="" onclick="window.open('CH_ProductDetails','ClothesHanger','width=600,height=850,location=no,status=no,scrollbars=yes');"><h5>상품 예시 2 - 새 창에서 열기</h5></a>-->
					<!--			<div class="panel-body"></div>-->
					<!--			<p class="color-red">분류결과</p>-->
					<!--			</div>-->
					<!--			<div class="col-md-2 pull-right">-->
					<!--				<div class="form-group"></div>-->
					<!--				<button type="button" class="btn btn-lg btn-success">승인</button>-->
									
					<!--				<button type="button" class="btn btn-lg btn-warning">반려</button>-->
					<!--			</div>							-->
					<!--</div>-->
					<!--상품 하나 끝-->
				</div>
			</div>
			
			

			<div class="col-sm-12">
				<p class="back-link">ClothesHanger</p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->
	  

	<script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
	<script src='{% static "js/bootstrap.min.js" %}'></script>
	<script src='{% static "js/chart.min.js" %}'></script>
	<script src='{% static "js/chart-data.js" %}'></script>
	<script src='{% static "js/easypiechart.js" %}'></script>
	<script src='{% static "js/easypiechart-data.js" %}'></script>
	<script src='{% static "js/bootstrap-datepicker.js" %}'></script>
	<script src='{% static "js/custom.js" %}'></script>
	
</body>
</html>
