{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Clotheshanger - Retailer Signup</title>
	<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
	<link href='{% static "css/datepicker3.css" %}' rel="stylesheet">
	<link href='{% static "css/styles.css" %}' rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-4">
			<div class="panel panel-default">
							<div class="panel-heading">
								Retailer Sign up
							</div>
							<div class="panel-body">
								<form class="form-horizontal" action="" method="post">
									<fieldset>
								<!-- Name input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="name">이름</label>
									<div class="col-md-9">
										<input id="name" name="name" type="text" placeholder="Your name" class="form-control" required>
									</div>
								</div>

								<!-- Sex input-->	
								<div class="form-group">
										<label class="col-md-3 control-label" for="sex">성별</label>
										<div class="radio col-md-5">
											<label>
												<input type="radio" name="sex" id="optionsRadios1" value="male" checked>남성
											</label>
											<label>
												<input type="radio" name="sex" id="optionsRadios2" value="female">여성  
											</label>
											<label>
												<input type="radio" name="sex" id="optionsRadios3" value="undetermined">기타  
											</label>
										</div>													
									</div>	

								<!-- ID input-->
								<div class="form-group">
										<label class="col-md-3 control-label" for="id">ID</label>
										<div class="col-md-9">
											<input id="id" name="id" type="text" placeholder="Your ID" class="form-control" required>
										</div>
									</div>

								<!-- Company password input-->
								<div class="form-group">
                                        <label class="col-md-3 control-label" for="email">비밀번호</label>
                                        <div class="col-md-9">
                                            <input id="password" name="password" type="password" placeholder="5~16 digits" class="form-control" required>
                                        </div>
                                    </div>

                                <!-- Company password input-->
								<div class="form-group">
                                        <label class="col-md-3 control-label" for="email">비밀번호 확인</label>
                                        <div class="col-md-9">
                                            <input id="password_check" name="password_check" type="password" placeholder="Rewrite password" class="form-control" required>
                                        </div>
                                    </div>
								
								

								<!-- Mobile phone number input-->
								<div class="form-group">
									<label class="col-md-3 control-label" for="idno">핸드폰 번호</label>
									<div class="col-md-9">
										<input id="mobile" name="mobile" type="text" placeholder="Do not type '-' between numbers" class="form-control" required>
									</div>
								</div>
                                
                               <!-- Email input-->
								<div class="form-group">
										<label class="col-md-3 control-label" for="email">이메일 주소</label>
										<div class="col-md-9">
											<input id="email" name="email" type="email" placeholder="Your email address" class="form-control" required>
										</div>
									</div>

								<!-- Form actions -->
								<div class="form-group">
									<div class="col-md-12 widget-right">
										<div class="col-md-5"></div>
									<div class="col-md-6">
										<button type="submit" class="btn btn-primary">Submit</button>
										<button type="reset" class="btn btn-default">Reset</button>
									</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div><!--/.col-->
			<div class="col-sm-12">
				<p class="back-link">ClothesHanger</p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->

	<script src='{% static "js/jquery-1.11.1.min.js"%}'></script>
	<script src='{% static "js/bootstrap.min.js"%}'></script>
</body>
</html>
