<html>
    <head>Img Uploads</head>
    <body>
        <p>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif%} </p>
        
        <h2>Img Upload</h2>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type = "file" multiple name="file" accept="image/*">
            <button type = "submit">Upload Img</button>
        </form>
        

            
            {% for dic in exceldata %}
        <table>
                {% for name, value in dic.items %}
            <tr>
              <th> {{ name }}</th>
              <th>{{ value }}</th>
            </tr> 
                {% endfor %}
        </table>
            {% endfor %}

        
    </body>
</html>